<h2>New gif</h2>

<form action="/gif" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <% if @gif.errors.present? %>
    <div class="errors">
      <ul class="error-list">
        <% @gif.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <label for="url" class="form-label">URL</label>
    <input name="url" id="url">
  </p>

  <p>
    <label for="title" class="form-label">Title</label>
    <input name="title" id="title">
  </p>

  <p>
    <input type="submit" value="Create gif" class="form-button">
  </p>
</form>